In [28]:
print("apoorv") #to print

apoorv

In [29]:
print "apoorv khatri is my name" #this is valid in 2.x not 3.x, without ()

SyntaxError: invalid syntax (Temp/ipykernel_22532/26957918.py, line 1)

In [30]:
1+2

3

In [31]:
apoorv

NameError: name 'apoorv' is not defined

In [32]:
# -> for single line comment
#apoorv

In [33]:

"""tripple quotes
is used to make 
multiple line comment"""

'tripple quotes\nis used to make \nmultiple line comment'

In [34]:

a = 100 #variable creation

In [35]:
a

100

In [36]:


a=input("enter the number")

enter the number

In [37]:
a + 12

TypeError: can only concatenate str (not "int") to str

In [38]:
l = int(a)

ValueError: invalid literal for int() with base 10: ''

In [39]:
l + 12

24

In [40]:
#RAM is a temporary storage

In [41]:

a = 10

In [42]:
type (a) #type is one of inbuilt functions

int

In [43]:
b= "apoorv"

In [44]:
type(b)

str

In [45]:
b #calling a variable

'apoorv'

In [47]:
print(b) #' ' won't be there

apoorv

In [48]:
print(b,"khatri")

apoorv khatri

In [49]:
v,m = 1, "a"

In [50]:
v

1

In [51]:
m

'a'

In [52]:
print(v,m)

1 a

In [53]:
v,m

(1, 'a')

In [54]:
#this is a tuple

In [57]:
m = v,m #proof that this  a tuple

In [58]:
type(m)

tuple

In [59]:
1b = "apoorv" #invalid variable name as it starts with number

SyntaxError: invalid syntax (Temp/ipykernel_22532/1962567830.py, line 1)

In [60]:
_ap = 10 #can start with _

In [62]:
_ap

10

In [63]:
a = 1.6

In [64]:
type(a)

float

In [65]:
#python understand the data type itself

In [66]:
g = True
f = False

In [67]:
g

True

In [69]:
type(g) #g is boolean

bool

In [70]:
True + True + True + False + True

4

In [71]:
# Value of True = 1 and False  = 0

In [72]:
False - True + True

0

In [73]:
True

True

In [81]:
True / False #in python it is undefined, but in numpy it is possible and = infy

ZeroDivisionError: division by zero

In [75]:
False/True

0.0

In [76]:
type(False/True)

float

In [77]:
import numpy

In [86]:
#complex number

n = 45 + 6j #45 -> Real part, 6 _> imaginary part, j is only notation

In [87]:
type(n)

complex

In [89]:
n.real #45.0 upcasting the data type to float

45.0

In [99]:
n.imag #6.0 upcasting the data type to float

6.0

In [100]:
1 + "subh" #error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [101]:
#error because you can't add int and str

In [102]:
"pp"+"aa"

'ppaa'

In [103]:
str(1) + "subh" #concatenation

'1subh'

In [104]:
"""it is called TYPECASTING - converting one data type into other datatype."""

'it is called TYPECASTING - converting one data type into other datatype.'

In [105]:
1 + 1.12

2.12

In [98]:
#upcasting the data type

In [106]:
"apoorv"*3

'apoorvapoorvapoorv'

In [1]:
a = input()

10

In [2]:
a #in str

'10'

In [3]:
a = int(a)

In [4]:
a

10

In [5]:
l = 4+9j

In [6]:
type(l)

complex

In [7]:
print(l,"hi")

(4+9j) hi

In [8]:
a,b,c = input("enter 3 number")

enter 3 number12,12,10

ValueError: too many values to unpack (expected 3)

In [12]:
a = int(input())
b = int(input())
c= int(input())

12
12
10

In [13]:
 o1 = (a+b)/c

In [14]:
print(o1)

2.4

In [15]:
l = o1 + 3+9j

In [16]:
type(l)

complex

In [17]:
l

(5.4+9j)

In [19]:
print(l,"apoorv")

(5.4+9j) apoorv

In [20]:
l+"a"

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [22]:
str(l)+"a" #concatenate

'(5.4+9j)a'

# If/else/elif - Conditional Statements

In [25]:
a = int(input("input a number lesser than 34..."))
if a<34:
    print("less than 34") #indentation shows heirarchy in pyhton, we don't use {}
elif a<100:
    print("less than 100")
else:
    print('greater than 34')

input a number lesser than 34...89
less than 100

In [27]:
a = int(input("input a number lesser than 34..."))
if a<34:
    print("less than 34") #indentation shows heirarchy in pyhton, we don't use {}
elif a<100:
    print("less than 100")
else:
    print('greater than 34 and 100')

input a number lesser than 34...12231
greater than 34 and 100

In [30]:
sal = int(input("what is your salary"))
if sal<1000:
    print("i will buy a car")
elif sal<500:
    print("i will go for a bike")
elif sal<100:
    print("i will not buy anything")
else:
    print("i will go for saving")

what is your salary4
i will buy a car

In [32]:
#nested if else

sal = int(input("what is your salary"))
if sal>1000:
    print("your salary is good")
    if sal>5000:
        print("i will go with car nano")
    elif sal>10000:
        print("i will go for mauruti")
    elif sal>50000:
        print("i will go for toyota")
    else:
        print("I will rent a car")
elif sal>500:
    print("i will go for a bike")
elif sal>100:
    print("i will not buy anything")
else:
    print("i will go for saving")

what is your salary45000
your salary is good
i will go with car nano

In [33]:
"""take care of the flow of 
the code"""

'take care of the flow of \nthe code'

In [34]:
#use keyword **pass** if you don' want to run anything in the body of
#if/else/elif