In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = ('apoorv',123,3.5,True) #can contain hetrogeneoud data

In [4]:
t1[1]

123

In [5]:
t1(10) #will give error as there is no 10 index

TypeError: 'tuple' object is not callable

In [6]:
t1[0:2] #slicing is possible

('apoorv', 123)

In [7]:
t1[::-1]#to reverse

(True, 3.5, 123, 'apoorv')

In [8]:
l1=[1,2,3,4]

In [9]:
l1[0] = 100 #list allows mutation

In [10]:
l1

[100, 2, 3, 4]

In [11]:
t1=(1,2,3,4)

In [12]:
t1[0]=100 #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [13]:
tt = (123,12)

In [14]:
t1+tt #appending one tuple to other

(1, 2, 3, 4, 123, 12)

In [15]:
tt*4

(123, 12, 123, 12, 123, 12, 123, 12)

In [16]:
tp = (12,14,"apoorv",True,23.1)

In [17]:
tp

(12, 14, 'apoorv', True, 23.1)

In [18]:
23.1 in tp

True

In [19]:
43 in tp

False

In [20]:
t1 = (1,2,3,4)
max(t1)

4

In [21]:
t2=('as','zz') #max acc to dictonary

In [22]:
max(t2)

'zz'

In [23]:
t3=(12,14,"apoorv",True,23.1)

In [24]:
t3.count(12) #total occurences of a object

1

In [25]:
t3.index(12) #index of first occurence of the object

0

In [26]:
min(t1)

1

In [27]:
min(t3) #as mix of string and int can't be compared

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
t = (1,2,3)

In [29]:
list1 = list(t)

In [30]:
list1

[1, 2, 3]

In [31]:
list1.insert(1,45)

In [32]:
list1

[1, 45, 2, 3]

In [33]:
tup = tuple(list1)

In [34]:
tup

(1, 45, 2, 3)

In [35]:
t

(1, 2, 3)

In [36]:
t = ((3,4,5),('apoorv',1,2),(1,2,3),[1,2,3]) #nested tuples are allowed

In [37]:
t[3][1] #accessing the second element in the list above

2

In [38]:
t[0][1]

4

In [39]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
apoorv
1

In [40]:
t1 = (1,2,343,4)
t2 = (2,4,5,5,5,5,5)

In [41]:
if len(t1)==len(t2):
    print("its same")
else:
    print('not same')

not same

In [42]:
tg = (9,1,'apoorv',2.4,"kumar")

In [43]:
i  = input("take user input")
if i in tg:
    print("avaiable")
else:
    print('not available')

take user input
not available

In [44]:
tg

(9, 1, 'apoorv', 2.4, 'kumar')

In [45]:
del(tg)

In [46]:
tg #tg tuples is deleted can be used for a list too

NameError: name 'tg' is not defined

In [47]:
"""
tuples and strings are immutable and 
lists are mutable"""

'\ntuples and strings are immutable and \nlists are mutable'

In [48]:
#ONLY COUNT AND INDEX OPERATIONS ARE THERE IN TUPLES.

# SET

In [49]:
x = set()

In [50]:
type(x)

set

In [51]:
l = [34,45,45,45,64,34,56,78,34,'sudh','kumar','kumar']

In [52]:
#we want to remove the repeated elements

In [53]:
#this is where set comes into picture

In [54]:
l1 = list(set(l))

In [55]:
l1

[64, 34, 45, 78, 'sudh', 'kumar', 56]

In [56]:
#set is a collection which will try to only hold distinct elements in it (CASE SENSITIVE)

In [57]:
#can perform iteration operation in sets

In [58]:
s= set(l)

In [59]:
s

{34, 45, 56, 64, 78, 'kumar', 'sudh'}

In [60]:
s[0]

TypeError: 'set' object is not subscriptable

In [61]:
#we can do indexing operation in sets

In [62]:
## SET DOESN'T BUILT AN ORDERED COLLECTION, IT IS A ILLUSION

In [63]:
s

{34, 45, 56, 64, 78, 'kumar', 'sudh'}

In [64]:
s.add(34)

In [65]:
s

{34, 45, 56, 64, 78, 'kumar', 'sudh'}

In [66]:
s.add(443)

In [67]:
s

{34, 443, 45, 56, 64, 78, 'kumar', 'sudh'}

In [68]:

s.add([1,2]) #sets can't do for nested datas

TypeError: unhashable type: 'list'

In [69]:
s.add(1,2,3) #takes only one argument

TypeError: set.add() takes exactly one argument (3 given)

In [70]:
s.remove(45) #remove operation works fine

In [71]:
s

{34, 443, 56, 64, 78, 'kumar', 'sudh'}

In [72]:
#s.clear() wipes out all data in s

In [73]:
l = {1,2,3,4,4,6,78}
s1 =set(l)

In [74]:
s1

{1, 2, 3, 4, 6, 78}

In [75]:
s

{34, 443, 56, 64, 78, 'kumar', 'sudh'}

In [76]:
s+s1 #not allowed s*4 not allowed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [77]:
#we canc convert to list and then we can add

In [78]:
tuple(s)

(64, 34, 78, 'sudh', 'kumar', 56, 443)

In [79]:
s

{34, 443, 56, 64, 78, 'kumar', 'sudh'}

In [80]:
s

{34, 443, 56, 64, 78, 'kumar', 'sudh'}

In [81]:
#arrays don't exist in core python

In [82]:
s = {}

In [83]:
type(s)

dict

In [84]:
x1={3,4}

In [85]:
type(x1)

set

# Dictonaries

In [86]:
#hold data in key and value form

In [89]:
x = {'name':'apoorv','age':100}

In [90]:
type(x)

dict

In [91]:
x = {'name':'apoorv','age':100,'name':'kango',"nature":False}

In [93]:
x #name only hold second occourance one

{'name': 'kango', 'age': 100, 'nature': False}

In [94]:
#key should be unique and values can be same.

In [95]:
#key value can't take special characters _/% etc

In [97]:
x = {'name':'apoorv','age':100,'name':'kango',"nature":{12,134,212},"lists":[12,12,12]}

In [98]:
#value can be list, tuples,set

In [99]:
#dict inside other dict is also allowed

In [101]:
#keys can be tuples but lists or sets as keys are not allowed

In [102]:
#key can be string, number, tuples, bool

In [112]:
x = {'nameo':'apoorv','age':100,'name':'kango',"nature":{12,134,212},"lists":[132,132,122],(1,2,3):"hello",45:23,True:"what"}

In [113]:
x

{'nameo': 'apoorv',
 'age': 100,
 'name': 'kango',
 'nature': {12, 134, 212},
 'lists': [132, 132, 122],
 (1, 2, 3): 'hello',
 45: 23,
 True: 'what'}

In [114]:
x['age'] #pass key get it's respective value

100

In [115]:
x[True]

'what'

In [118]:
(x["lists"])[2]

122

In [128]:
x2={'apooorv':{'apoorvcx':123}} #dictonary inside a dictonary

In [130]:
(x2['apooorv'])['apoorvcx']

123

In [131]:
x3 = {5:'a','b':[1,2,3]}
x4 = {'g':234}

In [133]:
x3+x4 #addition not allowed

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [139]:
x3['b']='apoorv' #mutable

In [140]:
x3

{5: 'a', 'b': 'apoorv'}

In [141]:
x3

{5: 'a', 'b': 'apoorv'}

In [143]:
x3.keys() #get all keys

dict_keys([5, 'b'])

In [144]:
type(x3.keys())

dict_keys

In [145]:
'5' in x3.keys()

False

In [148]:
for i in x3.keys(): #extracting of keys
    print(i)

5
b

In [149]:
for i in x3.keys(): #extracting of keys' values
    print(x3[i])

a
apoorv

In [153]:
x3.items() #list of tuples of keys and values pair

dict_items([(5, 'a'), ('b', 'apoorv')])

In [155]:
for i in x3.items():
    print(i[0]) #to get all the keys

5
b

In [156]:
x5 = {(1,2,3):'apoorv'}

In [157]:
x5[(1,2,3)]

'apoorv'

In [159]:
len(x5) #no of key:value pairs

1

#  Dictinoary comprehension

In [190]:
d = {'comp':'ibm','course':'full stack','year':2022}

In [191]:
for i in d:
    print("print a key",i,'value is',d[i])

print a key comp value is ibm
print a key course value is full stack
print a key year value is 2022

In [194]:
'course' in d

True

In [196]:
for i in d:
    if i=='year':
        if d[i] >2021:
            print("Year is fine")
        else:
            d[i]=2022
d

Year is fine

{'comp': 'ibm', 'course': 'full stack', 'year': 2022}

In [197]:
#hence year is updated to 2022

In [199]:
#dict comprehension

In [201]:
b={}
for i in range(10):
    b[i]=i*i

In [202]:
b

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [205]:
d['apoorv'] = "hello" #revision way to add key:value

In [206]:
d

{'comp': 'ibm', 'course': 'full stack', 'year': 2022, 'apoorv': 'hello'}

In [210]:
#in comprehensiion way
p = {i:i*i for i in range(10)}

In [211]:
p

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}