In [2]:
notes = 5
i =1
while i<notes:                                                
    print(i)
    i = i+1                                                   #or i+=1
else:     #you can use while-else condition                             
    print("no 10rs notes are available")

1
2
3
4
no 10rs notes are available

In [3]:
#break  - come out of the loop
#continue - continue witht the loop

In [4]:
n = "apoorv"

In [5]:
#indexation a-0,p-1,o-2,o-3,r-4,v-5

In [6]:
n

'apoorv'

In [8]:
n[0] #index 0 value of string

'a'

In [10]:
 n[20] #we don't have 20 indices therefore error

IndexError: string index out of range

In [11]:
sent = "my name is apoorv"

# String operation

In [13]:
sent[3]

'n'

In [16]:
sent[3:10] #3 is starting point 10 is end point #it will exclude end point i.e. at 10 position

'name is'

In [21]:
sent[3:10:2] #2 is the step size or jump size #by default it will be equal to one

'nm s'

In [33]:
sent[10:3:-1] #sent[10:3] won't work as step size will be equal to 1 as we wanted to inverse we have to do -1
#3 position will be excluded as last position is excluded

' si ema'

In [34]:
sent[-1::-1] #INVERSION OF THE STRING

'vroopa si eman ym'

In [39]:
sent[::-1] #INVERSION OF THE STRING

'vroopa si eman ym'

In [40]:
sent[::1]

'my name is apoorv'

In [42]:
sent[2:-6]

' name is '

In [44]:
#-1 is the last element in reverse direction, similarly second last is -2

# For Loop

In [45]:
n = "apoorv"

In [48]:
for i in n: #i is the string values
    print(i)

a
p
o
o
r
v

In [51]:
for i in n:
    print(i)
else:
    if i=="u":
        print("last char was u")
    print("this is an else condition")

a
p
o
o
r
v
this is an else condition

In [56]:
for i in n:
    if i == 'o':
        break         #break out of for-else loop #it will not go to else
    print(i)
else:
    if i=="u":
        print("last char was u")
    print("this is an else condition")

a
p

In [58]:
for i in n:
    if i == 'o':
        continue          #continue means next statement will not be excuted it will go to loop starting again
    print(i)
else:
    if i=="u":
        print("last char was u")
    print("this is an else condition")

a
p
r
v
this is an else condition

In [70]:
a = "namneof"
ab = ''
for i in range(len(a)): #len(var) -> total length of string ##range(int) -> 0,1,2,..int-1 #range(2) -> 0,1
    if a[i]=='n':
        continue
    else:
        ab = ab + a[i]
print(ab)

ameof

# Nested for loop

In [85]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ",end='')  #(end=' ') indicates that the end character has to be identified by whitespace and not a newline.
    print("\r") #"\r" moves the cursor to the begining of the line

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [99]:
n=int(input("enter the top number"))
for i in range(n,0,-1):
    print(" "*(n-i),end='')
    for j in range(0,i):
        print('*',end=' ')
    print('\r')

enter the top number5
* * * * *
 * * * *
  * * *
   * *
    *

In [13]:
n = int(input("enter the base number"))
i=1
while i<=n:
    print(" "*(n-i),"* "*i)
    i=i+2

enter the base number7
       *
     * * *
   * * * * *
 * * * * * * *

# List

In [14]:
#there is no arrays in python

In [15]:
#list is alternative to array.

In [17]:
#holds hetrogeneous data

In [18]:
l= ['apoorv',123,"aoorvhouse"]

In [19]:
l

['apoorv', 123, 'aoorvhouse']

In [20]:
l[0]

'apoorv'

In [21]:
l[2]

'aoorvhouse'

In [22]:
type(l)

list

In [24]:
l1=[]

In [25]:
type(l1)

list

In [28]:
l2 = list() #another way of creating list

In [29]:
type(l2)

list

In [30]:
#we can also store list inside a list

In [36]:
x = ['apoorv',123,["123ss",124]]
for i in x:
    if type(i) is list:
        for j in i:
            print(type(j))

<class 'str'>
<class 'int'>

In [38]:
x[0:2]

['apoorv', 123]

In [44]:
x[100:0:-1]   #non given elements are ignored

[['123ss', 124], 123]

In [46]:
for i in x:
    print(i)

apoorv
123
['123ss', 124]

In [48]:
list(range(10)) #elements from 0 to 9 excluding 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]